@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Creatore_di_annunci.Models.Entities.Video>

<h1>TABELLA STATUS VIDEO</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>PATH</th>
            <th>STATUS</th>
            <th>DESCRIPTION</th>
            <th>JSON</th>
            <th>ANNUNCIO</th>
            <th>DELETE</th>
        </tr>
    </thead>
    <tbody>
        @foreach( var video in Model){
            <tr>
                <td>@video.Id</td>
                <td>@video.Path</td>
                <td>@video.Status</td>
                <td>@video.Description</td>
                <td>@video.json</td>
                <td>@video.Annuncio</td>
                <td>
                    <a class="btn btn-danger ms-3" asp-controller="Video" asp-action="Edit" asp-route-id="@video.Id">DELETE</a>
                </td>
            </tr>
        }
    </tbody>
</table>
